.collections_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    padding-inline: 15px;
}

.scrollbar-item {
    list-style: none;
}

.collections_container .scrollbar-item {
  list-style: none; /* Remove default list bullets */
  /* If your shop-card has its own width/height, ensure it's flexible */
  width: 100%; /* Make sure each card takes up its full grid cell width */
}
